@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,800;1,400&family=Alegreya:ital,wght@0,500;1,400;1,500&display=swap');

/* VARIABLES */
:root {
    --dark-gold: #8E793E;
    --light-gold: #AD974F;
    --intellectual-grey: #231F20;
    --light-grey: #EAEAEA;
}

/* GENERAL STYLES */
body {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin-top: 0;
    background-color: var(--light-grey);
}

h1 {
    font-family: 'Alegreya Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: var(--intellectual-grey);
}

h2 {
    font-family: 'Alegreya', Arial, sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 0;
    margin: 0;
}

h3 {
    font-family: 'Alegreya Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: var(--intellectual-grey);
    padding: 0 50px;
}

p {
    font-family: 'Alegreya Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding: 0 50px;
}

.logo-header {
    width: 25%;
    height: auto;
    margin: 20px 0;
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding: 50px;
    margin-top: auto;
    font-family: 'Alegreya', Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--intellectual-grey);
}

ul {
    padding-top: 10px;
    margin: auto;
}

nav {
    background-color: var(--light-gold);
    height: 60px;
    margin: 0;
}

.content {
    background-color: var(--intellectual-grey);
    padding: 50px 0;
    color: var(--light-grey)
}

a {
    text-decoration: none;
    margin-top: 30px;
    padding: 10px;
}

a:link, a:visited {
    color: var(--intellectual-grey);
}

a:hover, a:active {
    color: var(--light-gold);
    background-color: var(--intellectual-grey);
}

#color-scheme {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.color-level {
    padding: 0;
}

.primary {
    background-color: var(--dark-gold);
}

.secondary {
    background-color: var(--light-gold);
}

.accent01 {
    background-color: var(--intellectual-grey);
}

.accent02 {
    color: var(--intellectual-grey);
    background-color: var(--light-grey);
}

#typography h1, #typography h2, #typography h3, #typography p {
    margin: 10px;
    padding: 0;
    color: var(--light-gold)
}

.person-info h3 {
    color: var(--light-gold);
}

.person-info ul li {
    list-style-type: none;
    font-family: 'Alegreya', Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: var(--light-grey);
}

#personas {
    display: flex;
    width: 90%;
    margin: 30px auto 50px auto;
}

#personas img {
    height: 200px;
    width: auto;
}

.personA {
    margin: 0 5% 0 -5%;
    text-align: right;
}

.personA p {
    padding-right: 0;
}

.personB {
    text-align: left;
}

.personB p {
    padding-left: 0;
}

#personas h3 {
    margin-top: 20px;
    padding: 0;
}

#scenarios ul li {
    text-align: center;
    list-style-type: none;
    font-family: 'Alegreya', Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: var(--light-gold);
}

#scenarios ul {
    padding: 0;
    margin: 0;
}