@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;600&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: 'Sofia Sans', Arial, sans-serif;
    font-weight: 300;
}

.container {
    padding: 10px;
}

header, footer {
    display: flex;
    padding: 10px 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
    color: aliceblue;
    align-items: center;
    justify-content: left;
}

img {
    width: 100px;
    height: 133.453px;
    border-radius: 10px;
}

.center-content {
    display: flex;
    margin: 20px;
    text-align: left;

}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 3px;
}

.last-updated {
    color:darkslateblue;
}

.lesson-list {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 20px;
}

h1 {
    font-weight: 600;
    margin: 0;
}

h2 {
    font-weight: 400;
}



/* FOR SMALL SCREEN */
@media only screen and (max-width: 32.5em) {

    .container {
        width: 400px;
    }

    .lesson-list {
        font-size: 25px;
    }

}

/* Will need to split general styles, small styles, and medium styles into separate files */
